*::selection {
  color: white;
  background: $primary;
}
body,
button,
input,
select,
optgroup,
textarea,
p,
pre,
blockquote {
  font-size: .9rem;
  line-height: 1.6em;
}
/* #region headers */
h1, h2, h3, h4, h5, h6 {
  color: var(--primary);
  font-family: gulax, "Trebuchet MS", "Open Sans", sans-serif;
  font-weight: bold;
  line-height: 1.4em;
  text-align: left;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: .5em;
}
h1 {
  font-size: 2rem;
  margin: 1.6em 0;
}
h2 {
  font-size: 1.55rem;
  margin: 1.3em 0;
}
h3 {
  font-size: 1.2rem;
  margin: 1.1em 0;
}
h4 {
  font-size: 1rem;
  margin: .9em 0;
}
h5 {
  font-size: 1rem;
  margin: .7em 0;
}
h6 {
  font-size: 1rem;
  margin: .5em 0;
}
/*#endregion*/
/* #region links */
a {
  color: var(--primary);
  transition: 0.2s;
  text-decoration: none;
}
a:hover {
  color: white;
  background-color: var(--primary);
}
/*#endregion*/
p {
  margin: .7em auto;
}
ul, ol {
  margin: .7em auto;
  padding-left: 1.2em;
  list-style: none;
}
/* #region lists */
li {
  position: relative;
}
li::before {
  opacity: .8;
  display: block;
  position: absolute;
  width: 1em;
  top: .1em;
  color: var(--primary);
}
ul > li::before {
  content: '•';
  left: -1em;
}
ol {
  counter-reset: li;
}
ol > li {
  counter-increment: li;
}
ol > li::before {
  content: counter(li);
  font-size: .8em;
  left: -1.8em;
  text-align: right;
  direction: rtl;
  font-weight: bold;
}
li > p:first-child {
  margin-top: 0;
}
/*#endregion*/
code {
  white-space: nowrap;
  padding: 0 .2rem;
}
pre, code {
  background-color: var(--code-background-color);
  color: white;
  font-family: ubuntu-mono, Consolas, Monaco, "Courier New", monospace;
}
pre {
  border-left: .5rem solid var(--code-border);
  overflow: auto hidden;
  white-space: pre;
}
blockquote {
  background-color: var(--quote-background-color);
  color: var(--quote-color);
  border-left: .5rem solid var(--quote-border);
  overflow: hidden;
}
pre, blockquote {
  position: relative;
  z-index: 1;
  padding: .8rem;
  margin: .7rem auto;
}
pre:before, blockquote:before {
  font-family: font-awesome;
  color: white;
  font-size: 4rem;
  padding-top: .7rem;
  transform: translateX(-.3rem);
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  position: sticky;
  display: block;
  float: left;
  z-index: -1;
  opacity: var(--quote-pict-opacity);
  content: "\f10e";
}
blockquote:before {
  content: "\f10e";
}
pre:before {
  opacity: 0.08;
  content: "\f120";
}
dfn, cite, em, i {
  font-style: italic;
}
address {
  margin: 0 0 1.5rem;
}
mark, ins {
  text-decoration: none;
}
abbr {
  text-decoration: underline rgba(125,125,125,.3) solid;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: .75em;
}
sub { 
  top: 0.4em; 
}
/* #region tables */
td {
  text-align: left;
  padding-right: 30px;
  vertical-align: top;
}
table {
  border-collapse: collapse;
}
th {
  background-color: var(--mid-blue);
  color: rgba(255,255,255,0.85);
  padding: 5px 10px;
  font-weight: normal;
  vertical-align: top;
}
td {
  padding: 5px 10px;
  background-color: var(--td-background-color);
}
hr {
  height: 1px;
  border-color: rgba(125,125,125,.3);
  border-style: solid none none;
  border-width: 1px 0 0;
  margin-top: 1rem;
}
/*#endregion*/
main section:not(:first-child) {
  margin-top: 2rem;
}
