@font-face {
  font-family: gulax;
  src: url('../fonts/gulax.woff2') format('woff2');
}
@font-face {
  font-family: ubuntu;
  src: url('../fonts/ubuntu-v15-latin-regular.woff2') format('woff2');
}
@font-face {
  font-family: ubuntu;
  src: url('../fonts/ubuntu-v15-latin-500.woff2') format('woff2');
  font-weight: bold;
}
@font-face {
  font-family: ubuntu;
  src: url('../fonts/ubuntu-v15-latin-500italic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: ubuntu;
  src: url('../fonts/ubuntu-v15-latin-italic.woff2') format('woff2');
  font-style: italic;
}

@font-face {
  font-family: ubuntu-mono;
  src: url('../fonts/ubuntu-mono-v10-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: font-awesome;
  src: url('../fonts/fa-solid-900.woff2') format('woff2');
}
