fieldset {
  padding: var(--internal-margin);
  box-shadow: inset 0 0 1rem rgba(0,0,0,.2);
  border: none;
  margin-bottom: var(--internal-margin);
}
legend {
  font-weight: bold;
  color: var(--primary);
  font-size: 1.1rem;
}
textarea, input, button {
  font-family: ubuntu, "Trebuchet MS", "Open Sans", sans-serif;
}
button, input[type=submit] {
  background: var(--mid-blue);
  border: none;
  color: rgba(255,255,255,0.7);
  text-align: center;
  text-decoration: none;
  padding: .5rem .9rem;
  z-index: 2;
  cursor: pointer;
  transition: .2s;
  font-size: .8rem;
}
button:hover, input[type=submit]:hover {
  /*background: linear-gradient(170deg, var(--primary), var(--light-aubergine));*/
  background: var(--light-aubergine); 
  box-shadow: inset 0 3rem 2rem -2rem var(--primary);
  color: white;
}
textarea,
select,
input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'] {
  display: block;
  background: linear-gradient(170deg, var(--light-aubergine) -100%, var(--primary) 300%);
  /*background-color: var(--warm-grey);*/
  box-shadow: inset 0 0 .7rem rgba(50, 50, 50, .5);
  border: none;
  margin: .7rem auto;
  max-width: 100%;
  width: 100%;
  padding: .5rem;
  color: white;
  outline: none;
}
textarea::placeholder, input::placeholder {
  color: rgba(255,255,255,.7);
}
textarea {
  min-height: 4rem;
}
/* #region select */
option {
  background-color: #666;
  color: #eee;
}
optgroup {
  background-color: #555;
  color: #bbb;
}
select::-webkit-scrollbar-track {
  background: #666;
}
select::-webkit-scrollbar {
  box-sizing: border-box;
  width: .4rem;
  height: .4rem;
}
select::-webkit-scrollbar-thumb {
  border-radius: .2rem;
}
select {
  scrollbar-color: var(--mid-blue) #666;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  background-image: url('https://ubuntu-fr.gitlab.io/code/ufr-main-layout/img/drop-down-white-transparent.svg'), linear-gradient(170deg, var(--light-aubergine) -100%, var(--primary) 300%);
  background-repeat: no-repeat;
  background-position: center right .5rem, top left;
}
select:hover {
  background-image: url('https://ubuntu-fr.gitlab.io/code/ufr-main-layout/img/drop-down-white.svg'), linear-gradient(170deg, var(--light-aubergine) -100%, var(--primary) 300%);
}
/*#endregion*/
/* #region checkbox, radio */
@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'], input[type='radio'] {
    --active: linear-gradient(170deg, var(--light-aubergine) -100%, var(--primary) 300%);
    --active-inner: #fff;
    --border: none;
    --background: var(--check-background);
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: .9rem;
    width: .9rem;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: .2rem 0 0 0;
    cursor: pointer;
    background: var(--b, var(--background));
    box-shadow: inset 0 0 .2rem var(--check-box-shadow);
  }
  input[type='checkbox']:after, input[type='radio']:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: .5s;
    box-sizing: content-box;
  }
  input[type='checkbox']:checked, input[type='radio']:checked {
    --b: var(--active);
    --bc: var(--active);
  }
  input[type='checkbox']:disabled, input[type='radio']:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: .9;
  }
  input[type='checkbox']:disabled:checked, input[type='radio']:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type='checkbox']:disabled + label, input[type='radio']:disabled + label {
    cursor: not-allowed;
  }
  input[type='checkbox'] + label, input[type='radio'] + label {
    display: inline-block;
    cursor: pointer;
    padding-left: .5rem;
  }
  input[type='checkbox']:after, input[type='radio']:after {
    opacity: 0;
  }
  input[type='checkbox']:checked:after, input[type='radio']:checked:after {
    opacity: 1;
  }
  input[type='checkbox']:after {
    left: calc(50% - .2rem);
    top: calc(50% - .4rem);
    width: .3rem;
    height: .5rem;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    transform: rotate(var(--r, 20deg));
  }
  input[type='checkbox']:checked {
    --r: 43deg;
  }
  input[type='radio'] {
    border-radius: 50%;
  }
  input[type='radio']:after {
    left: calc(50% - .2rem);
    top: calc(50% - .2rem);
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    background: var(--active-inner);
  }
  input[type='radio']:checked {
    --s: .5;
  }
}
/*#endregion*/
