body {
  display: grid;
  background: var(--html-background);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--html-text-color);
  font-family: ubuntu, "Trebuchet MS", "Open Sans", sans-serif;
  /*** fix pour glitch android ***/
  background-color: var(--html-background-color);
}
.content {
  width: Min(var(--page-narrow),calc(100% - 2*var(--external-margin)));
  transition: width .8s;
}
main {
  background-color: var(--main-background-color);
  padding: var(--internal-margin);
  scroll-margin-top: calc(4.5rem + 1.2rem);
}
.content {
  z-index: 1;
  position: absolute;
}