<!DOCTYPE html>
<html lang="fr">
<head>

  {{ if isset .Params "redirect" }}
    <meta http-equiv="refresh" content="0; URL='{{ .Params.redirect }}'" />
  {{ end }}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ .Site.Home.File.Dir }}favicon.png">
  <meta property="og:type" content="website">

  <meta name="description" content="{{ if .Params.summary }}{{ .Params.summary }}{{ else if .Site.Params.Description }}{{ .Site.Params.Description }}{{ end }}">
  <title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>
  <meta property="og:image" content="{{ .Site.Home.File.Dir }}img/thomasperrodin.jpg">
  <meta name="theme-color" content="#5E2750">

  {{ $style := resources.Get "sass/main.scss" | resources.ToCSS }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">

  <script type="module" src="{{ .Site.Home.File.Dir }}js/app.js"></script>

</head>

<body id="page_{{ .File.BaseFileName }}">
	<header>
    <div class="topbar">
      <a href="{{ .Site.Home.File.Dir }}" id="logo">
        Thomas Perrodin
      </a>
      <div id="sandwich">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="navbar">
      <nav>
        {{ range .Site.Data.menu.entries }}
          {{ $path := print "/content/" .page ".md" }}
          {{ $url := print "/" .page }}
          {{ if eq .page "index" }}
            {{ $path = print "/content/_" .page ".md" }}
            {{ $url = "/" }}
          {{ end }}
          <a href="{{ $url }}"{{ if eq $.Params.id .page }} class="active"{{ end }}>{{ with $.Site.GetPage $path }}{{ .Title }}{{ end }}</a>
        {{ end }}
      </nav>
      {{ if eq .Params.id "gallery" }}
        {{ partial "tags.html" . }}
      {{ end }}
    </div>
  </header>
	
	<main>
    {{ if eq .Params.id "gallery" }}
      {{ partial "gallery.html" . }}
    {{ end }}
		{{ block "main" . }}{{ end }}
	</main>

</body>

</html>