<link rel="stylesheet" href="{{ .Site.Home.File.Dir }}vendor/photoswipe/dist/photoswipe.css">

<div id="gallery">
  {{ range .Site.Data.gallery.images }}
  {{ $image := resources.GetMatch .image }}
  <a href="{{ $image.RelPermalink }}"
    data-pswp-width="{{ $image.Width }}" 
    data-pswp-height="{{ $image.Height }}"
    data-tags="[
      {{ range .tags }}
      '{{ . }}',
      {{ end }}
    ]"
    >
    <img src="{{ $image.RelPermalink }}">
  </a>
  {{ end }}
</div>


<script type="module">
  import MagicGrid from '{{ .Site.Home.File.Dir }}vendor/magic-grid/dist/magic-grid.esm.js'
  let magicGrid = new MagicGrid({
    container: "#gallery",
    items: 2,
    animate: true,
  })

  magicGrid.listen();
  let observer = new MutationObserver(function(mutations) {
    mutations.forEach(function(mutationRecord) {
      magicGrid.positionItems()
    })
  })
  let target = document.querySelectorAll("#gallery > a").forEach( (item) => {
    observer.observe(item, { attributes : true, attributeFilter : ['style'] })
  })

  import PhotoSwipeLightbox from '{{ .Site.Home.File.Dir }}vendor/photoswipe/dist/photoswipe-lightbox.esm.min.js'
  const lightbox = new PhotoSwipeLightbox({
    gallery: '#gallery',
    children: 'a',
    pswpModule: () => import('{{ .Site.Home.File.Dir }}vendor/photoswipe/dist/photoswipe.esm.min.js')
  })
  lightbox.init()
</script>