<div class="tags">
  <nav>
    {{ range .Site.Data.tags.tags }}
      <a href="#{{ .id }}">{{ .name }}</a>
    {{ end }}
  </nav>
</div>

<script>

document.addEventListener('DOMContentLoaded', () => {
  document.querySelectorAll('.tags > nav > a').forEach( (item) => {
    item.addEventListener('click', (e) => {
      let el = e.target
      let tag = el.getAttribute('href').replace(/^#/, "")
      document.querySelectorAll("#gallery > a:not([data-tags*='"+tag+"'])").forEach(function(el) {
        el.style.display = "none"
      })
      document.querySelectorAll("#gallery > a[data-tags*='"+tag+"']").forEach(function(el) {
        el.style.display = "block"
      })
    })
  })
})
  
</script>