{{ define "main" }}
<section id="single">
<h2> Page introuvable</h2>
<p><strong>Erreur 404.</strong>Le contenu demandé n'existe pas, ou se trouve ailleurs… Nous espérons que vous trouverez.</p><p>S'il vous semble que cette page devrait exister, parlez-en donc <a href="https://bugs.launchpad.net/ubuntu-fr-www">ici</a> ou <a href="https://forum.ubuntu-fr.org/viewforum.php?id=21">là</a> :)</p>
</section>
{{ end }}
